#newsletter{
  background-color: purple;
  display: flex;
  justify-content: space-between;
  }
header{
  width: 100%;
}
#newsletter img{
  width: 50px;
}
#champs_newsletter>div{

}
.logo{
  display: flex;
  margin-left: 0;
  margin-top: 5px;
}

#champs_newsletter{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40%;
}
#champs_newsletter div>input{
border-radius: 7%;

}
button{
  border-radius: 7%;
  background-color: lime;
}
.logo img{
  display: flex;
  
  width: 150px;
  height: 100%; 
  margin-left: 0; 
}
.logo img :nth-child(2){
  border:solid lightgray 3px;
}
.menu li{ 
  display: inline-block;
  margin : 10px 40px;
  border: lightgray solid 3px;
}
  a {
  float: left;
  text-decoration: none;
}
body{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#contenu{
  border: solid  3px;
  width: 80%;
}
#contenu h1{
  text-align: center;
  
  
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.logo{
  margin-left: 0;
}

  

h2 p{
  display: flex;
  flex-wrap: wrap;

}
footer{
  background-color: grey;
  height: 400px;
  display: flex;
  width:100%;
  justify-content: center;
  
}
footer img{
  width: 30%;
  height: 30%;
  
}