#newsletter{
  background-color: purple;
  }
#newsletter img{
  width: 50px;
}
.logo{
  display: flex;
  margin-left: 0;
  margin-top: 5px;
}

#champs_newsletter{
  display: flex;
  align-items: center;
  justify-content: center;
}
#champs_newsletter div>input{
border-radius: 7%;

}
button{
  border-radius: 7%;
  background-color: lime;
}
.logo img{
  display: flex;
  
  width: 150px;
  height: 100%; 
  margin-left: 0; 
}
.logo img :nth-child(2){
  border:solid lightgray 3px;
}
.menu li{ 
  display: inline-block;
  margin : 10px 40px;
  border: lightgray solid 3px;
  
  
  
}
.menu>li>a{
  
}
a {
  float: left;
  text-decoration: none;
}
section{
  
  text-align: center;
}
section>ul>li{
  margin-left: 45%;
  text-align: center;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.logo{
  margin-left: 0;
}
